html body {
    min-height: 100vh;
    overflow: hidden;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #222;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

a:hover {
    text-decoration: underline;
}

.header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
    box-sizing: border-box;
    font-size: 13px;
}

.header-text {
    padding-right: 15px;
}

#gmail-icon {
    height: 32px;
    width: 32px;
}

.image {
    padding: 8px;
    border-radius: 33px;
    display: flex;
    flex: 0 1 auto;
}

.image:hover {
    background-color: #f4f5f7;
    text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
    min-height: 92px;
    max-height: 290px;
    flex-grow: 1;
    white-space: nowrap;
}

#logo {
    width: 272px;
    height: 92px;
    margin-top: auto;
}

.bottom-center {
    padding: 20px;
    max-height: 160px;
    box-sizing: border-box;
}

.search-bar {
    height: 39px;
    width: 560px;
    border-radius: 22px;
    display: flex;
    margin: 5px auto;
    align-items: center;
    border: 1px solid #dfe1e5;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
    z-index: 3;
}

.search-bar:hover {
    box-shadow: 0 0 8px rgba(224, 217, 217, 0.842);
    -moz-box-shadow: 0 0 8px rgba(224, 217, 217, 0.842);
    -webkit-box-shadow: 0 0 8px rgba(224, 217, 217, 0.842);
    -o-box-shadow: 0 0 8px rgba(224, 217, 217, 0.842);
}

#type-space {
    height: 32px;
    width: 487px;
    display: flex;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
}

.space-buttons {
    padding-top: 15px;
}

.center-buttons {
    height: 58px;
    width: 584px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.buttons {
    height: 32px;
    max-width: 142px;
    height: 36px;
    text-align: center;
    background-color: rgb(248, 249, 250);
    border-radius: 4px;
    border-color: transparent;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
    font-size: 14px;
    cursor: pointer;
}

#google-button {
    max-width: 127px;
}

.buttons:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #121314;
}

.bottom {
    text-align: center;
    flex-grow: 1;
}

.language-container {
    line-height: 28px;
}

.language {
    color: #1a0dab;
    padding: 0px 3px;
}

.footer1 {
    background-color: rgb(242, 242, 242);
    border-bottom-color: rgb(218, 220, 224);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    margin-top: auto;
}

.footer1-text {
    padding: 15px 30px;
    color: rgba(0, 0, 0, .54);
    font-size: 15px;
    margin: 0
}

.footer2 {
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

.footer2-text {
    color: rgba(0, 0, 0, 0.54);
    padding: 13px;
}